input[type="file"] {
    margin-bottom: 10px;
}

#imagen-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.miniatura {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.miniatura:hover {
    cursor: pointer;
    border-color: #007bff;
}
                      /* Estilo para el contenedor */
                      .contenedor-imagenes {
                        /* Borde para visualización */
                       height: 100px; /* Altura fija del contenedor */
                       overflow: auto; /* Agrega scroll si es necesario */
                     }
                 
                     /* Estilo para las imágenes */
                     .contenedor-imagenes img {
                       width: auto; /* Ajusta el ancho automático para mantener la proporción original */
                       height: 100%; /* Ajusta la altura al contenedor */
                       display: inline-block; /* Muestra las imágenes en línea (horizontalmente) */
                       margin-right: 5px; /* Añade espacio entre las imágenes (opcional) */
                     }